	body {
		margin: 0px; 
	}	
	#topo {
		width: 100vw; height: 15vh; display: flex; flex-direction: row; justify-content: center; align-items: center;
	}
	#logo {
		width: 600px; height: 100px; background: #eee; display: flex; flex-direction: row; justify-content: center; align-items: center;
	}
	.login {
		width: 300px; height: 100px; background: #eee; display: flex; flex-direction: row; justify-content: center; align-items: center; 
	}
	#login {
		width: auto; height: auto; background: #fff; padding: 15px; box-shadow: 20px 20px 50px black;
	}	
	.menu {
		width: 80%; height: auto; padding:1%; background: #fff; text-align: center; box-shadow: 20px 20px 50px black; 
	}
	.tab_ctn {
		width: 100%; max-height: 40vh;  overflow: auto; 
	}	
	.menu_tab {
		width: 80%; height: auto; padding:1%; background: #fff; text-align: center; box-shadow: 20px 20px 50px black;
	}
	.tab_ctn_impr {
		width: 99%; height: auto; background: #fff; text-align: center; 
	}
	.tab_impr {
		width: 100%; height: auto; 
	}
	.ctn_menu {
		width: 98vw; margin-left:1vw; height: 70vh; background: #6C7A89 url(logo.png) no-repeat center; display: flex; flex-direction: column; justify-content: center; align-items: center; box-shadow: 20px 20px 50px black;
	}
	.tabela {
		border: 1px solid red; width: 100% !important;
	}
	.tabela th{
		position: sticky; top: 0; background: #fff; border: 1px solid red; 
	}
	.tabela_impr {
		border-top: 4px double red; width: 100% !important;
	}
        #tabela0 td {
                border-bottom: 1px solid #6C7A89;
        }
	.tabela td {
		border-top: 1px solid #a9a9a9; border-left: 2px solid #a9a9a9;
	}
	.tabela tr:hover{
		background-color: #ffa;
	}
	.tdinput {
		width: 18%;
	}
	.tdinput input{
		margin-left: 1%;
	}
	.exclui:hover, .lanca:hover {
		color: red; box-shadow: 3px 3px 5px red;
	}
	.altera:hover {
		color: blue; box-shadow: 3px 3px 5px blue;
	}
	.lista:hover {
		color: green; box-shadow: 3px 3px 5px green;
	}
	label {
		color: #4f4f4f;
	}
    .f_fds {
                padding: 1vh;
        }
	#rdp {
		width: 100%; height: 20%; position: fixed; text-align: center; z-index: -100;
	}
	#rdp p {
		margin: center;
	}
	fieldset {
		 box-shadow: 2px 2px 10px gray; border: none;
	}
	fieldset legend {
		background: white;
	}
	#sit_verde {
		background: green;
	}
	#sit_verme {
		background: red;
	}
